@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap'
);



*{

box-sizing:border-box;

font-family:Poppins,sans-serif;

}



body{

margin:0;

background:#f8efe5;

}



.login-container{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;

}



.login-box{

background:white;

padding:3rem;

border-radius:25px;

width:350px;

text-align:center;

}



.login-box input{

width:100%;

padding:1rem;

margin:.5rem 0;

border-radius:10px;

border:1px solid #ddd;

}



button{

padding:1rem;

border:none;

border-radius:10px;

background:#c6a15b;

color:white;

cursor:pointer;

width:100%;

}



header{

padding:2rem;

background:#2e241c;

color:white;

display:flex;

justify-content:space-between;

}



.dashboard-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:2rem;

padding:2rem;

}



.dashboard-grid div{

background:white;

padding:2rem;

border-radius:20px;

}



@media(max-width:900px){

.dashboard-grid{

grid-template-columns:1fr;

}

}
#logout{

    background:#b89552;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:30px;

    font-family:Poppins, sans-serif;

    font-weight:600;

    cursor:pointer;

    transition:.3s ease;

}


#logout:hover{

    transform:translateY(-3px);

    opacity:.85;

}
